.banner-principal {
    width: 100vw;
}

.conteudo-principal__texto {
    text-align: justify;
    margin: 0 1em;
}

.conteudo-premio {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 3em;
}

.conteudo-premio__imagem {
    align-self: flex-end;
    width: 95vw;
}

.conteudo-premio__texto {
    text-align: justify;
    margin: 1.3em 1em 0;
}